body{
 margin:0;
 background-color: hsl(217, 54%, 11%);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 min-height: 600px;
 min-width: 325px;
 font-size: 16px;
 font-family: 'Outfit', sans-serif;
}
.card{
    position:relative;
    background-color: hsl(216, 50%, 16%);
    width: 275px;
    height: 495px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.418);
}
.view{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 275px;
    height: 275px;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 10px;
}
header a:hover .view{
    display: flex;
}
header img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}
header a,footer a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: hsl(178, 100%, 50%);
}
.attribution { 
    top: 0;
    position:absolute; 
    font-size: 11px; 
    text-align: center;
    padding: 0; 
    margin-top: 560px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
h1{
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin-top: 22px;
    margin-bottom: 13px;
}
.card-footer{
    display: flex;
    align-items: center;
}
footer img{
    height: 100%;
    border: 1px solid white ;
    border-radius: 50%;
}
.time-left,.body-text,.creation{
    color: hsl(215, 51%, 70%);
}
.body-text{
    line-height: 1.47;
    font-weight: 300;
}
.card-footer{
    height: 30px;
    color: white;
    margin-top: 17px;

}
hr{
    border-top: 1px solid hsl(215, 32%, 27%);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 16px;
}
.price{
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    font-weight: 600;
}
.time-left{
    display: flex;
    align-items: center;
}
.card-ofert{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-text{
    margin-left: 16px;
}
.ofert-element{
    margin-left: 8px;
}
@media only screen and (min-width: 768px){
    .card{
        height: 545px;
        width: 300px;
    }
    h1{
        margin-bottom: 16px;
    }
    .view{
        width: 300px;
        height: 300px;
    }
    .attribution{
        margin-top: 620px;
    }
    .body-text{
        font-size: 18px;
    }
   
    .card-ofert{
        margin-top: 24px;
    }
    hr{
        margin-top: 24px;
    }
}